<div class="grid py-7">
    <div class="category1 pl-6 flex flex-column justify-content-center align-items-start  col-12 md:col-12 lg:col-6">
        <h1>Women's fashion</h1> <br>
        <p>Sitamet, consectetur adipiscing elit, sed do eiusmod tempor incidid-unt labore edolore magna aliquapendisse ultrices gravida.</p>
        <a class="text-transform: uppercase" href="#">shop now</a>
    </div>
    <div class="categories col-12 md:col-12 lg:col-6">
        <div class="grid">
            <div class="category2 pl-6 flex flex-column justify-content-center align-items-start  col-12 md:col-6 lg:col-6">
                <h4>Men's fashion</h4>
                <p>358 items</p>
                <a class="text-transform: uppercase" href="#">shop now</a>
            </div>
            <div class="category3 pl-6 flex flex-column justify-content-center align-items-start  col-12 md:col-6 lg:col-6">
                <h4 class="font-bold">Kid's fashion</h4>
                <p>273 items</p>
                <a class="text-transform: uppercase" href="#">shop now</a>
            </div>
        </div>
        <div class="grid">
            <div class="category4 pl-6 flex flex-column justify-content-center align-items-start  col-12 md:col-6 lg:col-6">
                <h4>Cosmetics fashion</h4>
                <p>159 items</p>
                <a class="text-transform: uppercase" href="#">shop now</a>
            </div>
            <div class="category5 pl-6 flex flex-column justify-content-center align-items-start  col-12 md:col-6 lg:col-6">
                <h4>Accessories fashion</h4>
                <p>792 items</p>
                <a class="text-transform: uppercase" href="#">shop now</a>
            </div>
        </div>
    </div>
</div>