<footer class="footer">
  <div class="grid">
    <div class="col-4 justify-content-center">
      <img src="../../../assets/images/logo.webp" />
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
        tempor incididunt cilisis.
      </p>
      <div class="grid footer_payment">
        <a href=""><img src="../../../assets/images/mastercard.webp" /></a>
        <a href=""><img src="../../../assets/images/visa.webp" /></a>
        <a href=""><img src="../../../assets/images/discover.webp" /></a>
        <a href=""><img src="../../../assets/images/paypal.webp" /></a>
        <a href=""><img src="../../../assets/images/cirrus.webp" /></a>
      </div>
    </div>
    <div class="col-4 flex align-items-center justify-content-center">
      <div class="grid footer_links">
        <div class="col-6">
          <h3>Quick Links</h3>
          <ul>
            <li><a>About</a></li>
            <li><a>Blogs</a></li>
            <li><a>Contact</a></li>
            <li><a>FAQ</a></li>
          </ul>
        </div>
        <div class="col-6">
          <h3>Account</h3>
          <ul>
            <li><a>My account</a></li>
            <li><a>Orders tracking</a></li>
            <li><a>Checkout</a></li>
            <li><a>Wishlist</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="col-4 footer_newsletter">
      <h3>Newsletter</h3>
    </div>
  </div>
</footer>
