<div class="grid m-5">
    <div class="col-12 md:col-12 lg:col-6 p-0 discount_pic">
        <img src="assets/images/discount.webp" alt="">
    </div>
    <div class="col-12 md:col-12 lg:col-6 p-0">
        <div class="discount_text">
            <div class="discount_title">
                <span>Discount</span>
                <h2>Summer 2019</h2>
                <h5>
                    <span>Sale</span> 50%
                </h5>
            </div>
        </div>
    </div>
</div>

<section class="services spad">
    <div class="grid">
        <div class="col-12 md:col-6 lg:col-3">
            <div class="services_item">

            </div>
        </div>
        <div class="col-12 md:col-6 lg:col-3">
            B
        </div>
        <div class="col-12 md:col-6 lg:col-3">
            C
        </div>
        <div class="col-12 md:col-6 lg:col-3">
            D
        </div>
    </div>
</section>