<section class="product mt-6 mb-5">
    <div class="sm:px-7 md:px-4 lg:px-7 xl:px-7">
        <div class="grid">
            <div class="sm:col-12 md:col-4 lg:col-3 xl:col-3">
                <div class="product-title mb-5">
                    <h3>
                        New product
                    </h3>
                </div>
            </div>

            <div class="sm:col-12 md:col-8 lg:col-9 xl:col-9">
              <ul class="filter-controls lg:text-right mb-5 w-full">
                  <li>All</li>
                  <li>Women's</li>
                  <li>Men's</li>
                  <li>Kid's</li>
                  <li>Accessories</li>
                  <li>Cosmetics</li>
              </ul>
            </div>   
        </div>


      <div class="grid">
        <div class="sm:col-12 md:col-4 lg:col-3 xl:col-3">
            <div class="product-item">
                <img src="/assets/images/product-1.jpg" alt="">
                <div class="label new">
                     new
                </div>
                <ul class="product-hover">

                    <li><i class="pi pi-check"></i></li>
                    <li></li>
                </ul>
            </div>
        </div>
      </div>
    
    </div>
</section>



