<!-- Navbar -->
<nav class="nav">
  <div class="grid nav-block">
    <div class="col-3 menu_img">
      <img src="../../../assets/images/logo.webp" />
    </div>
    <div class="col-6">
      <div class="header_menu">
        <ul>
          <li><a href="">Home</a></li>
          <li><a href="">Women's</a></li>
          <li><a href="">Men's</a></li>
          <li><a href="">Shop</a></li>
          <li><a href="">Pages</a></li>
          <li><a href="">Blog</a></li>
          <li><a href="">Contact</a></li>
        </ul>
      </div>
    </div>
    <div class="col-3 flex flex-row menu_widget">
      <div class="icon user">
        <i class="pi pi-user mr-4" style="font-size: 1.4rem"></i>
      </div>
      <div class="icon search">
        <i class="pi pi-search mr-4" style="font-size: 1.4rem"></i>
      </div>
      <div class="icon favorit">
        <i
          class="pi pi-heart mr-4"
          style="font-size: 1.4rem"
          pBadge
          value="5"
          severity="danger"
        ></i>
      </div>
      <div class="icon cart">
        <i
          class="pi pi-shopping-bag mr-4"
          style="font-size: 1.4rem"
          pBadge
          value="2"
          severity="danger"
        ></i>
      </div>
    </div>
  </div>
</nav>
